# Dependencies
node_modules

# Next.js
.next
out
next-env.d.ts

# Logs
*.log
npm-debug.log*

# Env
.env*.local

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# TypeScript incremental build cache
tsconfig.tsbuildinfo
